# Auto detect text files and perform LF normalization
# * text=auto
#*.ino text diff=cpp
#*.cpp text diff=cpp
#*.h text diff=cpp
*.ino linguist-detectable=true
*.cpp linguist-detectable=true
*.h linguist-detectable=true
*.js linguist-detectable=false
*.css linguist-detectable=false
*.md linguist-detectable=false
*.txt linguist-detectable=false
*.ttf linguist-detectable=false
*.mp3 linguist-detectable=false
*.json linguist-detectable=false
*.zip linguist-detectable=false
*.tft linguist-detectable=false