# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.DS_Store
.vscode
.vscode/
*.cmd
*.exe
*.psd
*.ino
*.old
*.stl
core
preproc
sketch
libraries
ld_h
arduino.ar
build.options.json
Brautomat.ino.elf
Brautomat.ino.map
includes.cache
local.eagle.flash.ld
local.eagle.app.v6.common.ld
data/config.txt
tools/Brautomat.ino.bin
tools/Brautomat.mklittlefs.bin
tools/esptool.exe
tools/Flashen.cmd
tools/buildFirm.cmd
test/
web/
data/bootstrap.min.css
data/bootstrap.min.js
data/chart.umd.min.js
data/jquery.min.js
data/jquery.tabletojson.min.js
data/toast.min.js
Display/mqttdevice4-320x240fix/
Display/HMI/
Backup/
*.ino
*.h
*.cpp
*.hintrc
docs/img/Brautomat_Deckel.jpg
docs/img/Brautomat_Grundplatte.jpg
docs/img/Brautomat_Halterung-Blende.jpg
docs/img/Maischeplan_Rezept.jpg
docs/img/brautomat-kabel.jpg
