# Auto detect text files and perform LF normalization
# * text=auto
*.ino text diff=cpp
*.cpp text diff=cpp
*.h text diff=cpp
*.js linguist-detectable=false
*.css linguist-detectable=false
*.md linguist-detectable=false
*.txt linguist-detectable=false
